.image-preview
  position: relative
  width: 100%
  height: 150px
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-bottom: 10px
  margin-top: 10px
  animation-name: grow
  animation-duration: .3s
  animation-timing-function: ease
  z-index: 1


  .remove-image
    position: absolute
    top: 5px
    right: 10px
    font-size: 18px
    color: #6f6f6f
    cursor: pointer
    text-shadow: 2px -2px 2px white
  &-dropzone
    height: 150px
    vertical-align: middle

.text-click
  display: flex
  align-items: center
  justify-content: center
  color: #ccc
  cursor: pointer

.images-preview-dropzone

  .text-click
    display: flex
    align-items: center
    justify-content: center
    color: #ccc
    cursor: pointer
    height: 150px
    width: 100%
    border-radius: 10px
    vertical-align: middle
    border: 1px dashed #ccc

@keyframes grow
  0%
    transform: scale(.1,.1)
  100%
    transform: scale(1,1)
